# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*





# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Yarn Integrity file
.yarn-integrity

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

dist
.DS_Store